body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #FCE2C4;
  background-size: cover;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

#product-list {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 1rem;
  border: 5px solid #fff;
  margin: 0.5rem;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 80px;
  font-size: 20px;
}

li:hover {
  text-decoration: underline;
  color: blue;
}

li:not(:hover) {
  text-decoration: none;
  color: initial;
}

ul li a {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center; /* 水平中央揃え */
  position: relative; /* 相対的な位置指定を行うために追加 */
  z-index: 1;
}
#search-form {
  display: flex;
  justify-content: center; /* 水平中央揃え */
  position: relative; /* 相対的な位置指定を行うために追加 */
  top: 0px;
  margin-bottom: 10px;
  z-index: 1;
  
}

#search-input {
  padding: 5px 30px; /* 入力フィールドのパディングを調整 */
}
button[type="submit"] {
  padding: 5px 15px; /* ボタンのパディングを調整 */
}

/* custom.css */
.horizontal-list {
  color: #fff;
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  align-items: center; /* Align items vertically in the middle */
}

/* styles.css */
/* 既存のCSSの後に追加 */
.horizontal-list li a,
footer p {
  color: #fff;
}
p1{
  color: #fff;
}

p{
  text-align: center;
}