<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="static/css/login.css">
<title>ログイン画面</title>
</head>
<body>
  <form name="login_form" action="{{ url_for('login') }}" method="post">
    <div class="login_form_top">
      <h1>ログイン画面</h1>
      {% if error is defined and error != "" %}
        <p style="color:red">{{ error }}</p>
      {% endif %}
      {% if msg %}
        <p style="color:blue">{{ msg }}</p>
      {% endif %}
      <p>管理者名、パスワードをご入力の上、ログインボタンをクリックしてください。</p>
    </div>
    <div class="login_form_btm">
      <input type="id" name="username" placeholder="管理者名"><br>
      <input type="password" name="password" placeholder="パスワード"><br>
      <input type="submit" name="button" value="ログイン"><br>
      <a href="{{ url_for('admist_register_form') }}">新規管理者登録</a>


    </div>
  </form>
</body>
</html>
