<!-- cart.html -->
<!DOCTYPE html>
<html>
<head>
    <title>カート</title>
    <link rel="stylesheet" href="static/css/cart.css">
</head>
<body>
    <h1>カート</h1><br>
    {% if products_data %}
    <form action="{{ url_for('cart') }}" method="post">
        <!-- カートの表示 -->
        <table>
            <tr>
                <th>商品名</th>
                <th>価格</th>
                <th>数量</th>
                <th>小計</th>
            </tr>
            {% for product in products_data %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}円</td>
                <td>
                    <input type="number" name="quantity_{{ product.id }}" value="{{ product.quantity }}" min="1">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                </td>
                <td>{{ product.subtotal }}円</td>
            </tr>
            {% endfor %}
        </table>
        <p>合計金額: {{ total_price }}円</p>
        <button type="submit">数量を更新</button>
    </form>
{% else %}
    <p>カートは空です。</p>
{% endif %}

    <p><a href="{{ url_for('index') }}">トップに戻る</a></p>
</body>
</html>
