<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/top.css">
  <title>ショップのトップメニュー</title>
</head>
<body>
  <header>
    <h1>トップ画面へようこそ！</h1>
    <form id="search-form" action="{{ url_for('search') }}" method="POST">
      <input type="text" id="search-input" name="search" placeholder="検索キーワードを入力">
      <button type="submit">検索</button>
    </form>

    <ul class="horizontal-list">
      {% if 'user' in session %}
        <li><a href="{{ url_for('login') }}">{{ session['user'] }}</a><p1>さん</p1></li>
      {% else %}
        <li><a href="{{ url_for('login') }}">ログイン</a></li>
      {% endif %}
      <li><a href="{{ url_for('cart') }}">カート</a></li>
      <li><a href="{{ url_for('admin_login') }}">管理者</a></li>
      <li><a href="#">おすすめ</a></li>
    </ul>

  </header>

  <div id="product-list">
    <h2>商品一覧</h2>
    <ul>
        {% if products %}
            {% for product in products %}
            <li>
              <h3><a href="{{ url_for('product_detail', product_id=product[0]) }}">{{ product[1] }}</a></h3>
              <p>価格: ¥{{ product[2] }}</p>
            </li>
            {% endfor %}
        
        {% endif %}
    </ul>
    <p id="no-results" style="text-align: center; color: red;">{{ error }}</p>
</div>


  <footer>
    <p>© nishi's various shop 2023.</p>
  </footer>
</body>
</html>
